<Sysmon schemaversion="4.90">
  <HashAlgorithms>sha1</HashAlgorithms>
  <CheckRevocation>False</CheckRevocation>
  <DnsLookup>False</DnsLookup>
  <EventFiltering>
    <RuleGroup groupRelation="or">
      <NetworkConnect onmatch="include">
        <DestinationPort condition="is">31337</DestinationPort>
      </NetworkConnect>
    </RuleGroup>
  </EventFiltering>
</Sysmon>
